.two{
  height:30px;
  width:100%;
  display: flex;
  justify-content: center;
  background:lightgrey;
 
}
.two-div{
  font-size: 12px;
  display: flex;
  justify-content:space-between;
  
  width: 1190px;
}
.one{
  height:30px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
 
}
.three{
  margin-right:7px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 60px;

  
}
.three div:nth-child(2){
  font-size: 12px;
  color: #999;
  
}
.four{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.four >div{
  display: flex;
  height:100%;
  align-items: center;


}
.four >div >div {
  margin-left:5px;
  margin-right:5px;
    color: #999;
    height:100%;
    line-height: 30px;
}
.four >div >div:hover {
  color:orangered;
}
.four >div >div:nth-child(2){
  color:orangered;
}
.four >div >div:nth-child(10){
  color: orangered;
}
.three img{
  height: 15px;
  width: 15px;
  background: lightgrey;;
  margin-right:5px;
}
.five{
  height:200px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  
  position: absolute;
  top:30px;
  left:-12px;
  color:#999;
  background:#fff;
  margin:0;
  display: none;
  left:0px;
  z-index:1;
  
}
.five >div{
 display: flex;
 flex-direction: column;
 margin-left:12px;
 margin-right:10px;
}
.five >div >div{
  margin-top:15px;
}
.three:hover{
  background:#fff;
}
.enterprise-procurement .type{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.enterprise-procurement .type >div{color:#000;
}
.enterprise-procurement{
  width: 200px;
  height:100px;
  position:absolute;
  top:30px;
  background:#fff;
  z-index:1;
  display: none;
  justify-content: space-around;
}
.four >div >div:nth-child(6){
  position:relative;
}
.four>div >div:nth-child(6):hover{
  background: #fff;
}

.area-icon{
  color: red;
  font-size: 14px;
  margin-right: 4px;
}