body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f3ef;
  margin:0;
}

@font-face{
  font-family: 'iconfont'; 
  src:url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/fonts/iconfont.woff);
}
html{
  font-family: iconfont;
}
.round {
  width: 6px;
  height:6px;
  background: darkgrey;
}
.roundActive {
  width: 6px;
  height:6px;
  background: red;
}
#root{
  width: 100%;
}
.content{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round1{
  width: 10px;
  height:10px;
  background: darkgray;
}
.roundActive1{
  width: 12px;
  height:12px;
  background: #fff;
}